* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgb(221, 221, 221) rgb(141, 141, 141);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #f5f5f5;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(221, 221, 221);
	border-radius: 20px;
	border: 2px solid rgb(141, 141, 141);
}

body {
	background: #eceff1;
	color: #333;
}

h2 {
	color: #2196f3;
	padding-bottom: 10px;
}

.form-select {
	color: #333;
}

.table {
	color: #333;
}

header nav {
	background-color: #2196f3;
}
